*{
   font-family: sf pro display; 
}
body {
    background-color: #fff;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  h1 {
    color: #333;
    font-size: 4vw;
    margin: 0;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0;
  }
  
  input[type="text"] {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    padding: 20px 20px;
    width: 300px;
  }
  .btn {
    margin-left: .3vw;
    color:#fff;
    background: linear-gradient(145deg, #e26a2c, #ff8243);
    box-shadow: 4px 4px 8px #9e9e9e, -4px -4px 8px #ffffff;
    cursor: pointer;
    padding: 10px 10px;
    border-radius:10px;
    border: none;
  }
  button[type="submit"] {
    background-color: #fff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.2s;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  #results {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 20px 0;
  }
  
  #results > div {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  #results img {
    border-radius: 8px;
    margin-bottom: 20px;
    object-fit: cover;
    height: 200px;
    width: 100%;
  }
  
  #results h3 {
    color: #333;
    font-size: 24px;
    margin: 0;
  }
  
  #results ul {
    margin: 0;
    padding: 0;
  }
  
  #results li {
    text-transform: capitalize;
    list-style: none;
    margin-bottom: 10px;
  }
  
  #results a {
    background-color: #007bff;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s;
  }
  
  #results a:hover {
    background-color: #0069d9;
  }